In [2]:
# librerias
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt

In [29]:
datos = pd.read_excel("recursos/AC-1.xlsx")

In [30]:
print(datos.head())

       Unnamed: 0 Unnamed: 1       Unnamed: 2    Unnamed: 3  Unnamed: 4  \
0             NaN        NaN              NaN           NaN         NaN
1  ID de Empleado     Nombre         Apellido  Departamento       Fecha
2           R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  01-08-2023
3           R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  02-08-2023
4           R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  03-08-2023

             Unnamed: 5                                         Unnamed: 6  \
0                   NaN                                                NaN
1  Cantidad de Checadas                                               Hora
2                    36                                           10:05:06
3                    33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
4                    45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...

  Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 32 Unnamed: 33 Unnamed: 34  \
0        NaN        NaN        NaN  ...         NaN         NaN         NaN
1        NaN        NaN        NaN  ...         NaN         NaN         NaN
2   10:05:08   10:05:10   08:57:37  ...    14:04:45    13:06:14    12:01:32
3        NaN        NaN        NaN  ...         NaN         NaN         NaN
4        NaN        NaN        NaN  ...         NaN         NaN         NaN

  Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39 Unnamed: 40  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2    12:01:28    08:57:44    14:04:43    14:04:50    18:15:22    12:01:30
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 41
0         NaN
1         NaN
2    08:57:39
3         NaN
4         NaN

[5 rows x 42 columns]

In [26]:
datos = datos.drop(datos.index[0])
print(datos)

         Unnamed: 0 Unnamed: 1       Unnamed: 2    Unnamed: 3  Unnamed: 4  \
1    ID de Empleado     Nombre         Apellido  Departamento       Fecha
2             R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  01-08-2023
3             R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  02-08-2023
4             R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  03-08-2023
5             R-880        AAA  SEGUNDO MENDOZA     MANGUERAS  04-08-2023
..              ...        ...              ...           ...         ...
113          P-4699        AAA   RECILLAS PIÑON         ADMON  02-08-2023
114          P-4699        AAA   RECILLAS PIÑON         ADMON  07-08-2023
115          P-4699        AAA   RECILLAS PIÑON         ADMON  08-08-2023
116          P-4699        AAA   RECILLAS PIÑON         ADMON  09-08-2023
117          P-4699        AAA   RECILLAS PIÑON         ADMON  14-08-2023

               Unnamed: 5                                         Unnamed: 6  \
1    Cantidad de Checadas                                               Hora
2                      36                                           10:05:06
3                      33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
4                      45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...
5                      16  18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...
..                    ...                                                ...
113                     8  08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...
114                     6  10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...
115                     8  10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...
116                     6  10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...
117                     8  10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...

    Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 32 Unnamed: 33 Unnamed: 34  \
1          NaN        NaN        NaN  ...         NaN         NaN         NaN
2     10:05:08   10:05:10   08:57:37  ...    14:04:45    13:06:14    12:01:32
3          NaN        NaN        NaN  ...         NaN         NaN         NaN
4          NaN        NaN        NaN  ...         NaN         NaN         NaN
5          NaN        NaN        NaN  ...         NaN         NaN         NaN
..         ...        ...        ...  ...         ...         ...         ...
113        NaN        NaN        NaN  ...         NaN         NaN         NaN
114        NaN        NaN        NaN  ...         NaN         NaN         NaN
115        NaN        NaN        NaN  ...         NaN         NaN         NaN
116        NaN        NaN        NaN  ...         NaN         NaN         NaN
117        NaN        NaN        NaN  ...         NaN         NaN         NaN

    Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39 Unnamed: 40  \
1           NaN         NaN         NaN         NaN         NaN         NaN
2      12:01:28    08:57:44    14:04:43    14:04:50    18:15:22    12:01:30
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
113         NaN         NaN         NaN         NaN         NaN         NaN
114         NaN         NaN         NaN         NaN         NaN         NaN
115         NaN         NaN         NaN         NaN         NaN         NaN
116         NaN         NaN         NaN         NaN         NaN         NaN
117         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 41
1           NaN
2      08:57:39
3           NaN
4           NaN
5           NaN
..          ...
113         NaN
114         NaN
115         NaN
116         NaN
117         NaN

[117 rows x 42 columns]

In [31]:
# Definir la segunda fila como el encabezado
datos.columns = datos.iloc[1]

# Eliminar la segunda fila del DataFrame
datos = datos.drop(datos.index[1])

# Reiniciar el índice del DataFrame
datos = datos.reset_index(drop=True)
# Imprimir el DataFrame con el nuevo encabezado
print(datos)

1   ID de Empleado Nombre         Apellido Departamento       Fecha  \
0              NaN    NaN              NaN          NaN         NaN
1            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  01-08-2023
2            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  02-08-2023
3            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  03-08-2023
4            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  04-08-2023
..             ...    ...              ...          ...         ...
112         P-4699    AAA   RECILLAS PIÑON        ADMON  02-08-2023
113         P-4699    AAA   RECILLAS PIÑON        ADMON  07-08-2023
114         P-4699    AAA   RECILLAS PIÑON        ADMON  08-08-2023
115         P-4699    AAA   RECILLAS PIÑON        ADMON  09-08-2023
116         P-4699    AAA   RECILLAS PIÑON        ADMON  14-08-2023

1   Cantidad de Checadas                                               Hora  \
0                    NaN                                                NaN
1                     36                                           10:05:06
2                     33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
3                     45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...
4                     16  18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...
..                   ...                                                ...
112                    8  08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...
113                    6  10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...
114                    8  10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...
115                    6  10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...
116                    8  10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...

1         NaN       NaN       NaN  ...       NaN       NaN       NaN  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1    10:05:08  10:05:10  08:57:37  ...  14:04:45  13:06:14  12:01:32
2         NaN       NaN       NaN  ...       NaN       NaN       NaN
3         NaN       NaN       NaN  ...       NaN       NaN       NaN
4         NaN       NaN       NaN  ...       NaN       NaN       NaN
..        ...       ...       ...  ...       ...       ...       ...
112       NaN       NaN       NaN  ...       NaN       NaN       NaN
113       NaN       NaN       NaN  ...       NaN       NaN       NaN
114       NaN       NaN       NaN  ...       NaN       NaN       NaN
115       NaN       NaN       NaN  ...       NaN       NaN       NaN
116       NaN       NaN       NaN  ...       NaN       NaN       NaN

1         NaN       NaN       NaN       NaN       NaN       NaN       NaN
0         NaN       NaN       NaN       NaN       NaN       NaN       NaN
1    12:01:28  08:57:44  14:04:43  14:04:50  18:15:22  12:01:30  08:57:39
2         NaN       NaN       NaN       NaN       NaN       NaN       NaN
3         NaN       NaN       NaN       NaN       NaN       NaN       NaN
4         NaN       NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...       ...
112       NaN       NaN       NaN       NaN       NaN       NaN       NaN
113       NaN       NaN       NaN       NaN       NaN       NaN       NaN
114       NaN       NaN       NaN       NaN       NaN       NaN       NaN
115       NaN       NaN       NaN       NaN       NaN       NaN       NaN
116       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[117 rows x 42 columns]

In [32]:
# Eliminando el segundo indice
datos = datos.drop(datos.index[0])
print(datos)

1   ID de Empleado Nombre         Apellido Departamento       Fecha  \
1            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  01-08-2023
2            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  02-08-2023
3            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  03-08-2023
4            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  04-08-2023
5            R-880    AAA  SEGUNDO MENDOZA    MANGUERAS  07-08-2023
..             ...    ...              ...          ...         ...
112         P-4699    AAA   RECILLAS PIÑON        ADMON  02-08-2023
113         P-4699    AAA   RECILLAS PIÑON        ADMON  07-08-2023
114         P-4699    AAA   RECILLAS PIÑON        ADMON  08-08-2023
115         P-4699    AAA   RECILLAS PIÑON        ADMON  09-08-2023
116         P-4699    AAA   RECILLAS PIÑON        ADMON  14-08-2023

1   Cantidad de Checadas                                               Hora  \
1                     36                                           10:05:06
2                     33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
3                     45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...
4                     16  18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...
5                     23  10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...
..                   ...                                                ...
112                    8  08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...
113                    6  10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...
114                    8  10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...
115                    6  10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...
116                    8  10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...

1         NaN       NaN       NaN  ...       NaN       NaN       NaN  \
1    10:05:08  10:05:10  08:57:37  ...  14:04:45  13:06:14  12:01:32
2         NaN       NaN       NaN  ...       NaN       NaN       NaN
3         NaN       NaN       NaN  ...       NaN       NaN       NaN
4         NaN       NaN       NaN  ...       NaN       NaN       NaN
5         NaN       NaN       NaN  ...       NaN       NaN       NaN
..        ...       ...       ...  ...       ...       ...       ...
112       NaN       NaN       NaN  ...       NaN       NaN       NaN
113       NaN       NaN       NaN  ...       NaN       NaN       NaN
114       NaN       NaN       NaN  ...       NaN       NaN       NaN
115       NaN       NaN       NaN  ...       NaN       NaN       NaN
116       NaN       NaN       NaN  ...       NaN       NaN       NaN

1         NaN       NaN       NaN       NaN       NaN       NaN       NaN
1    12:01:28  08:57:44  14:04:43  14:04:50  18:15:22  12:01:30  08:57:39
2         NaN       NaN       NaN       NaN       NaN       NaN       NaN
3         NaN       NaN       NaN       NaN       NaN       NaN       NaN
4         NaN       NaN       NaN       NaN       NaN       NaN       NaN
5         NaN       NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...       ...
112       NaN       NaN       NaN       NaN       NaN       NaN       NaN
113       NaN       NaN       NaN       NaN       NaN       NaN       NaN
114       NaN       NaN       NaN       NaN       NaN       NaN       NaN
115       NaN       NaN       NaN       NaN       NaN       NaN       NaN
116       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[116 rows x 42 columns]

In [33]:
# Identificar los valores faltantes (NA)
valores_faltantes = datos.isna().sum()

# Mostrar los valores faltantes
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
1
ID de Empleado            0
Nombre                    0
Apellido                  0
Departamento              0
Fecha                     0
Cantidad de Checadas      0
Hora                      0
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
dtype: int64

In [27]:
print(datos.index)

RangeIndex(start=1, stop=118, step=1)

In [34]:
datos

1,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R-880,AAA,SEGUNDO MENDOZA,MANGUERAS,01-08-2023,36,10:05:06,10:05:08,10:05:10,08:57:37,...,14:04:45,13:06:14,12:01:32,12:01:28,08:57:44,14:04:43,14:04:50,18:15:22,12:01:30,08:57:39
2,R-880,AAA,SEGUNDO MENDOZA,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R-880,AAA,SEGUNDO MENDOZA,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R-880,AAA,SEGUNDO MENDOZA,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R-880,AAA,SEGUNDO MENDOZA,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,P-4699,AAA,RECILLAS PIÑON,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,P-4699,AAA,RECILLAS PIÑON,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,P-4699,AAA,RECILLAS PIÑON,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,P-4699,AAA,RECILLAS PIÑON,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,P-4699,AAA,RECILLAS PIÑON,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN