In [122]:
# librerias
import pandas as pd
from datetime import datetime

In [146]:
datos = pd.read_excel("recursos/pruebas.xlsm")

In [147]:
print(datos.head())
datos

       Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3  Unnamed: 4  \
0             NaN        NaN        NaN           NaN         NaN
1  ID de Empleado     Nombre   Apellido  Departamento       Fecha
2           R-880        AAA    SEGUNDO     MANGUERAS  01-08-2023
3           R-880        AAA    SEGUNDO     MANGUERAS  02-08-2023
4           R-880        AAA    SEGUNDO     MANGUERAS  03-08-2023

             Unnamed: 5                                         Unnamed: 6  \
0                   NaN                                                NaN
1  Cantidad de Checadas                                               Hora
2                    36  10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...
3                    33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
4                    45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...

   Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 43 Unnamed: 44 Unnamed: 45  \
0         NaN        NaN        NaN  ...         NaN         NaN         NaN
1         NaN       Hora        NaN  ...         NaN         NaN         NaN
2         NaN   10:05:06   10:05:08  ...    08:57:39         NaN         NaN
3         NaN   17:30:01   14:11:32  ...         NaN         NaN         NaN
4         NaN   16:00:24   15:06:38  ...    13:01:55    13:01:57    13:12:00

  Unnamed: 46 Unnamed: 47 Unnamed: 48 Unnamed: 49 Unnamed: 50 Unnamed: 51  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4    13:12:02    13:11:57    13:12:04    14:04:27    14:04:29    14:04:31

  Unnamed: 52
0         NaN
1         NaN
2         NaN
3         NaN
4    14:04:33

[5 rows x 53 columns]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,NaN,Hora,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...",NaN,10:05:06,10:05:08,...,08:57:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",NaN,17:30:01,14:11:32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",NaN,16:00:24,15:06:38,...,13:01:55,13:01:57,13:12:00,13:12:02,13:11:57,13:12:04,14:04:27,14:04:29,14:04:31,14:04:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",NaN,08:35:50,08:35:46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",NaN,10:09:25,10:09:23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",NaN,10:04:06,10:04:08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",NaN,10:00:11,11:00:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",NaN,10:02:09,08:54:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
datos = datos.drop(datos.index[0])
print(datos)

         Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3  Unnamed: 4  \
1    ID de Empleado     Nombre   Apellido  Departamento       Fecha
2             R-880        AAA    SEGUNDO     MANGUERAS  01-08-2023
3             R-880        AAA    SEGUNDO     MANGUERAS  02-08-2023
4             R-880        AAA    SEGUNDO     MANGUERAS  03-08-2023
5             R-880        AAA    SEGUNDO     MANGUERAS  04-08-2023
..              ...        ...        ...           ...         ...
113          P-4699        AAA       RILH         ADMON  02-08-2023
114          P-4699        AAA       RILH         ADMON  07-08-2023
115          P-4699        AAA       RILH         ADMON  08-08-2023
116          P-4699        AAA       RILH         ADMON  09-08-2023
117          P-4699        AAA       RILH         ADMON  14-08-2023

               Unnamed: 5                                         Unnamed: 6  \
1    Cantidad de Checadas                                               Hora
2                      36  10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...
3                      33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
4                      45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...
5                      16  18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...
..                    ...                                                ...
113                     8  08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...
114                     6  10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...
115                     8  10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...
116                     6  10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...
117                     8  10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...

     Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 43 Unnamed: 44  \
1           NaN       Hora        NaN  ...         NaN         NaN
2           NaN   10:05:06   10:05:08  ...    08:57:39         NaN
3           NaN   17:30:01   14:11:32  ...         NaN         NaN
4           NaN   16:00:24   15:06:38  ...    13:01:55    13:01:57
5           NaN   18:03:31   16:23:10  ...         NaN         NaN
..          ...        ...        ...  ...         ...         ...
113         NaN   08:35:50   08:35:46  ...         NaN         NaN
114         NaN   10:09:25   10:09:23  ...         NaN         NaN
115         NaN   10:04:06   10:04:08  ...         NaN         NaN
116         NaN   10:00:11   11:00:33  ...         NaN         NaN
117         NaN   10:02:09   08:54:06  ...         NaN         NaN

    Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48 Unnamed: 49 Unnamed: 50  \
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4      13:12:00    13:12:02    13:11:57    13:12:04    14:04:27    14:04:29
5           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
113         NaN         NaN         NaN         NaN         NaN         NaN
114         NaN         NaN         NaN         NaN         NaN         NaN
115         NaN         NaN         NaN         NaN         NaN         NaN
116         NaN         NaN         NaN         NaN         NaN         NaN
117         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 51 Unnamed: 52
1           NaN         NaN
2           NaN         NaN
3           NaN         NaN
4      14:04:31    14:04:33
5           NaN         NaN
..          ...         ...
113         NaN         NaN
114         NaN         NaN
115         NaN         NaN
116         NaN         NaN
117         NaN         NaN

[117 rows x 53 columns]

In [126]:
# Definir la segunda fila como el encabezado
datos.columns = datos.iloc[0]

# Eliminar la segunda fila del DataFrame
datos = datos.drop(datos.index[0])

# Reiniciar el índice del DataFrame
datos = datos.reset_index(drop=True)
# Imprimir el DataFrame con el nuevo encabezado
print(datos)

1   ID de Empleado Nombre Apellido Departamento       Fecha  \
0            R-880    AAA  SEGUNDO    MANGUERAS  01-08-2023
1            R-880    AAA  SEGUNDO    MANGUERAS  02-08-2023
2            R-880    AAA  SEGUNDO    MANGUERAS  03-08-2023
3            R-880    AAA  SEGUNDO    MANGUERAS  04-08-2023
4            R-880    AAA  SEGUNDO    MANGUERAS  07-08-2023
..             ...    ...      ...          ...         ...
111         P-4699    AAA     RILH        ADMON  02-08-2023
112         P-4699    AAA     RILH        ADMON  07-08-2023
113         P-4699    AAA     RILH        ADMON  08-08-2023
114         P-4699    AAA     RILH        ADMON  09-08-2023
115         P-4699    AAA     RILH        ADMON  14-08-2023

1   Cantidad de Checadas                                               Hora  \
0                     36  10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...
1                     33  17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...
2                     45  16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...
3                     16  18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...
4                     23  10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...
..                   ...                                                ...
111                    8  08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...
112                    6  10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...
113                    8  10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...
114                    6  10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...
115                    8  10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...

1   NaN      Hora       NaN  ...       NaN       NaN       NaN       NaN  \
0   NaN  10:05:06  10:05:08  ...  08:57:39       NaN       NaN       NaN
1   NaN  17:30:01  14:11:32  ...       NaN       NaN       NaN       NaN
2   NaN  16:00:24  15:06:38  ...  13:01:55  13:01:57  13:12:00  13:12:02
3   NaN  18:03:31  16:23:10  ...       NaN       NaN       NaN       NaN
4   NaN  10:04:03  10:02:40  ...       NaN       NaN       NaN       NaN
..   ..       ...       ...  ...       ...       ...       ...       ...
111 NaN  08:35:50  08:35:46  ...       NaN       NaN       NaN       NaN
112 NaN  10:09:25  10:09:23  ...       NaN       NaN       NaN       NaN
113 NaN  10:04:06  10:04:08  ...       NaN       NaN       NaN       NaN
114 NaN  10:00:11  11:00:33  ...       NaN       NaN       NaN       NaN
115 NaN  10:02:09  08:54:06  ...       NaN       NaN       NaN       NaN

1         NaN       NaN       NaN       NaN       NaN       NaN
0         NaN       NaN       NaN       NaN       NaN       NaN
1         NaN       NaN       NaN       NaN       NaN       NaN
2    13:11:57  13:12:04  14:04:27  14:04:29  14:04:31  14:04:33
3         NaN       NaN       NaN       NaN       NaN       NaN
4         NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...
111       NaN       NaN       NaN       NaN       NaN       NaN
112       NaN       NaN       NaN       NaN       NaN       NaN
113       NaN       NaN       NaN       NaN       NaN       NaN
114       NaN       NaN       NaN       NaN       NaN       NaN
115       NaN       NaN       NaN       NaN       NaN       NaN

[116 rows x 53 columns]

In [127]:
# Identificar los valores faltantes (NA)
valores_faltantes = datos.isna().sum()

# Mostrar los valores faltantes
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
1
ID de Empleado            0
Nombre                    0
Apellido                  0
Departamento              0
Fecha                     0
Cantidad de Checadas      0
Hora                      0
NaN                     116
Hora                      0
NaN                       0
NaN                       2
NaN                       2
NaN                      10
NaN                      13
NaN                      20
NaN                      29
NaN                      38
NaN                      40
NaN                      57
NaN                      63
NaN                      74
NaN                      76
NaN                      83
NaN                      88
NaN                      91
NaN                      93
NaN                      96
NaN                      96
NaN                     100
NaN                     101
NaN                     102
NaN                     103
NaN                     107
NaN                     107
NaN                     108
NaN                     109
NaN                     109
NaN                     109
NaN                     109
NaN                     110
NaN                     111
NaN                     113
NaN                     114
NaN                     114
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
NaN                     115
dtype: int64

In [128]:
print(datos.index)

RangeIndex(start=0, stop=116, step=1)

In [129]:
datos

1,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,NaN,Hora,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...",NaN,10:05:06,10:05:08,...,08:57:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",NaN,17:30:01,14:11:32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",NaN,16:00:24,15:06:38,...,13:01:55,13:01:57,13:12:00,13:12:02,13:11:57,13:12:04,14:04:27,14:04:29,14:04:31,14:04:33
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...",NaN,18:03:31,16:23:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...",NaN,10:04:03,10:02:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",NaN,08:35:50,08:35:46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",NaN,10:09:25,10:09:23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",NaN,10:04:06,10:04:08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",NaN,10:00:11,11:00:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",NaN,10:02:09,08:54:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
print(datos.columns[0])
print(datos.index[0])

ID de Empleado
0

In [131]:
print(datos.dtypes)

1
ID de Empleado           object
Nombre                   object
Apellido                 object
Departamento             object
Fecha                    object
Cantidad de Checadas     object
Hora                     object
NaN                     float64
Hora                     object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
NaN                      object
dtype: object

In [132]:
datos = datos.dropna(axis=1)
datos

1,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,Hora,NaN
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...",10:05:06,10:05:08
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",17:30:01,14:11:32
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",16:00:24,15:06:38
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...",18:03:31,16:23:10
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...",10:04:03,10:02:40
...,...,...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",08:35:50,08:35:46
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",10:09:25,10:09:23
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",10:04:06,10:04:08
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",10:00:11,11:00:33
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",10:02:09,08:54:06

In [133]:
print(datos.columns[7])

Hora

In [134]:
datos = datos.drop(datos.columns[8], axis=1)
datos

1,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,Hora
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...",10:05:06
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",17:30:01
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",16:00:24
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...",18:03:31
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...",10:04:03
...,...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",08:35:50
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",10:09:25
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",10:04:06
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",10:00:11
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",10:02:09

In [135]:
# Guardando a CSV
datos.to_csv("recursos/datos.csv", index=False)
print("Completado")

Completado

In [136]:
# Leyendo el nuevo CSV
datos = pd.read_csv("recursos/datos.csv", encoding='utf-8')
datos

,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,Hora.1
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1...",10:05:06
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1...",17:30:01
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1...",16:00:24
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1...",18:03:31
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0...",10:04:03
...,...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1...",08:35:50
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1...",10:09:25
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1...",10:04:06
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0...",10:00:11
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1...",10:02:09

In [137]:
datos = datos.drop(datos.columns[7], axis=1)
datos

,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"10:05:06,10:05:08,10:05:10,08:57:37,18:20:28,1..."
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"17:30:01,14:11:32,18:09:19,12:02:07,10:07:24,1..."
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"16:00:24,15:06:38,15:08:15,15:08:17,16:00:20,1..."
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"18:03:31,16:23:10,18:03:29,18:04:09,15:05:06,1..."
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"10:04:03,10:02:40,14:08:31,14:06:38,10:02:38,0..."
...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:50,08:35:46,11:00:57,10:08:27,10:08:29,1..."
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"10:09:25,10:09:23,14:00:57,09:09:38,09:09:36,1..."
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"10:04:06,10:04:08,14:00:14,12:01:27,12:01:29,1..."
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"10:00:11,11:00:33,10:00:13,09:22:01,11:00:35,0..."
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"10:02:09,08:54:06,12:00:03,14:02:43,08:54:08,1..."

In [138]:
# Convertir la columna 'Hora' en una lista de horas separadas por comas
horas_checadas = datos['Hora'].str.split(',')

# Ordenar las horas en cada fila
horas_ordenadas = horas_checadas.apply(lambda x: sorted(x))
# Convertir la lista ordenada de horas de nuevo a una cadena separada por comas
horas_ordenadas_str = horas_ordenadas.apply(lambda x: ','.join(x))

# Actualizar la columna 'Hora' con las horas ordenadas
datos['Hora'] = horas_ordenadas_str
datos

,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"08:57:37,08:57:39,08:57:41,08:57:44,10:05:04,1..."
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"09:06:03,09:06:05,09:06:07,09:06:10,10:07:17,1..."
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"09:03:49,09:03:51,09:03:54,09:03:56,10:02:58,1..."
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"09:04:06,09:04:08,09:04:10,09:04:13,10:03:59,1..."
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"09:04:33,09:04:36,09:04:38,09:04:40,09:10:10,1..."
...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:46,08:35:48,08:35:50,10:08:27,10:08:29,1..."
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"09:09:36,09:09:38,10:09:23,10:09:25,14:00:57,1..."
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"08:53:20,08:53:22,10:04:06,10:04:08,12:01:27,1..."
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"09:22:01,09:22:09,10:00:11,10:00:13,11:00:33,1..."
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"08:54:06,08:54:08,10:02:09,10:02:11,12:00:03,1..."

In [139]:
# Definir una función para obtener la hora de entrada con una tolerancia de 20 minutos
def obtener_hora_entrada(horas):
    hora_entrada = None
    for hora in horas:
        if hora_entrada is None or hora < hora_entrada:
            hora_entrada = hora
    hora_entrada_dt = datetime.strptime(hora_entrada, "%H:%M:%S")
    if hora_entrada_dt <= datetime.strptime("09:20:00", "%H:%M:%S"):
        return hora_entrada
    else:
        return 'F'


# Definir una función para obtener la hora de salida
def obtener_hora_salida(horas):
    return max(horas)


# Definir una función para obtener las horas totales
def obtener_horas_totales(hora_entrada, hora_salida):
    if hora_entrada != "F":
        hora_entrada_dt = datetime.strptime(hora_entrada, "%H:%M:%S")
        hora_salida_dt = datetime.strptime(hora_salida, "%H:%M:%S")
        horas_totales = hora_salida_dt - hora_entrada_dt
        return round(horas_totales.total_seconds() / 3600)  # Convertir a horas y redondear
    else:
        return None


# Aplicar las funciones definidas a cada fila del DataFrame para generar las nuevas columnas
datos['Hora de entrada'] = horas_checadas.apply(obtener_hora_entrada)
datos['Hora de salida'] = horas_checadas.apply(obtener_hora_salida)
datos['Horas totales'] = datos.apply(lambda row: obtener_horas_totales(row['Hora de entrada'], row['Hora de salida']),
                                     axis=1)

datos

,ID de Empleado,Nombre,Apellido,Departamento,Fecha,Cantidad de Checadas,Hora,Hora de entrada,Hora de salida,Horas totales
0,R-880,AAA,SEGUNDO,MANGUERAS,01-08-2023,36,"08:57:37,08:57:39,08:57:41,08:57:44,10:05:04,1...",08:57:37,18:20:28,9.0
1,R-880,AAA,SEGUNDO,MANGUERAS,02-08-2023,33,"09:06:03,09:06:05,09:06:07,09:06:10,10:07:17,1...",09:06:03,18:13:39,9.0
2,R-880,AAA,SEGUNDO,MANGUERAS,03-08-2023,45,"09:03:49,09:03:51,09:03:54,09:03:56,10:02:58,1...",09:03:49,18:05:10,9.0
3,R-880,AAA,SEGUNDO,MANGUERAS,04-08-2023,16,"09:04:06,09:04:08,09:04:10,09:04:13,10:03:59,1...",09:04:06,18:04:09,9.0
4,R-880,AAA,SEGUNDO,MANGUERAS,07-08-2023,23,"09:04:33,09:04:36,09:04:38,09:04:40,09:10:10,1...",09:04:33,14:08:31,5.0
...,...,...,...,...,...,...,...,...,...,...
111,P-4699,AAA,RILH,ADMON,02-08-2023,8,"08:35:46,08:35:48,08:35:50,10:08:27,10:08:29,1...",08:35:46,11:01:01,2.0
112,P-4699,AAA,RILH,ADMON,07-08-2023,6,"09:09:36,09:09:38,10:09:23,10:09:25,14:00:57,1...",09:09:36,14:00:59,5.0
113,P-4699,AAA,RILH,ADMON,08-08-2023,8,"08:53:20,08:53:22,10:04:06,10:04:08,12:01:27,1...",08:53:20,14:00:14,5.0
114,P-4699,AAA,RILH,ADMON,09-08-2023,6,"09:22:01,09:22:09,10:00:11,10:00:13,11:00:33,1...",F,11:00:35,NaN
115,P-4699,AAA,RILH,ADMON,14-08-2023,8,"08:54:06,08:54:08,10:02:09,10:02:11,12:00:03,1...",08:54:06,14:02:43,5.0

In [140]:
# Guardando a CSV
datos.to_csv("recursos/datos_new.csv", index=False)
print("Exito")

Exito

In [144]:
# Columnas seleccionadas que deseas convertir a sentencias MySQL
columnas_seleccionadas = ['ID de Empleado', 'Nombre', 'Apellido', 'Departamento']
empleados = pd.read_csv("recursos/datos_new.csv", usecols=columnas_seleccionadas, encoding='utf-8')

# CAMBIANDO NOMNRE DE LAS COLUMNAS
nuevos_nombres = {
    'ID de Empleado': 'ID_empleado'
}

# Cambiar los nombres de las columnas
empleados = empleados.rename(columns=nuevos_nombres)
empleados = empleados.drop_duplicates()
empleados.to_csv("recursos/empleados.csv", index=False)
empleados = pd.read_csv("recursos/empleados.csv")
empleados

   ID_empleado Nombre            Apellido Departamento
0        R-880    AAA             SEGUNDO    MANGUERAS
1       E-1999    AAA               NUÑEZ    LOGISTICA
2       E-2050    AAA             REYNOSO        ADMON
3       E-2729    AAA  HERNANDEZ GONZALEZ      PSICO I
4       M-3697    AAA              ORTEGA     HERRERIA
5       P-4217    AAA               PEREZ    PLASTICOS
6       P-4462    AAA           CASTAÑEDA    PLASTICOS
7       P-4463    AAA           CASTAÑEDA    PLASTICOS
8       P-4464    AAA           CASTAÑEDA    PLASTICOS
9       P-4465    AAA           CASTAÑEDA    PLASTICOS
10      P-4466    AAA           CASTAÑEDA    PLASTICOS
11      P-4467    AAA           CASTAÑEDA    PLASTICOS
12      P-4468    AAA           CASTAÑEDA    PLASTICOS
13      P-4511    AAA               LOPEZ    PLASTICOS
14      P-4576    AAA            GONZALEZ    PLASTICOS
15      P-4579    AAA        LOPEZ OROZCO        ADMON
16      P-4697    AAA       CHIMAL MEDINA        ADMON
17      P-4698    AAA               PEREZ        ADMON
18      P-4699    AAA                RILH        ADMON

In [145]:
# Definir el nombre de la tabla en MySQL
nombre_tabla = "empleados"

# Crear una cadena para almacenar las sentencias SQL INSERT
sentencias_sql = []

# Iterar sobre cada fila del DataFrame y generar la sentencia INSERT correspondiente
for index, fila in empleados.iterrows():
    valores = ", ".join([f"'{str(valor)}'" for valor in fila])  # Encerrar cada valor entre comillas simples
    sentencia = f"INSERT INTO {nombre_tabla} ({', '.join(empleados.columns)}) VALUES ({valores});"
    sentencias_sql.append(sentencia)

# Guardar las sentencias SQL en un archivo
with open("recursos/sentencias_sql.sql", "w") as archivo_sql:
    for sentencia in sentencias_sql:
        archivo_sql.write(sentencia + "\n")